* { 
	padding: 0; 
	margin: 0; 
}
.my-class {
	color: red;
	border: 1px solid green;
	padding: 0.5cm;
	text-align: center;
	background-color: lightgreen;

}

head { 
	font-family: 'Spectral SC', serif; 

}

body {
	background-image: url("../img/greenleaves.jpg"); 
	background-position: center top; 
	background-attachment: scroll; 
	opacity: 0.6; 
	
}

.my{
	color: white; 
	font-family: "alex-brush"; 
	font-size: 18px; 
	text-align: center; 
}

h2 {
	font-size: 16px; 
	color:white; 
	font-family:"alex-brush"; 
	font-style: italic bold;
	border: 3px solid lightgreen;
	text-align: center;
		
}

h3 { 
	font-size: 16px; 
	color:white; 
	font-family:"alex-brush"; 
	font-style: italic;
	border: 3px solid lightgreen;
	text-align: center;
}

.fontgoogle{
	font-family: 'Spectral SC', serif;
}

.fontgoogle {
}

